Source: onlyoffice-documentbuilder
Section: utils
Priority: optional
Maintainer: Ascensio System SIA <support@onlyoffice.com>
Build-Depends: debhelper (>= 8.0.0)

Package: onlyoffice-documentbuilder
Architecture: amd64
Depends: libcurl3-gnutls, libc6, libxml2, libcurl3, fonts-dejavu | ttf-dejavu, fonts-opensymbol 
Recommends: fonts-liberation, ttf-mscorefonts-installer, fonts-crosextra-carlito
Description: tool to create documents in office file formats including Office Open XML formats:
 .docx, .xlsx, .pptx.
